# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
.env
venv/
*.sqlite3

# Streamlit and user uploads
.streamlit/
uploads/
*.pdf
*.docx


# VSCode or PyCharm
.vscode/
.idea/

# macOS & Windows
.DS_Store
Thumbs.db
